<%= render "shared/errors", obj: @article %>

<table>
<tr>
  <th><%= form.label :お名前 %></th>
  <td><%= form.text_field :name %></td>
</tr>

<tr>
  <th><%= form.label :電話番号 %></th>
  <td><%= form.text_field :phone %></td>
</tr>

<tr>
  <th><%= form.label :メールアドレス %></th>
  <td><%= form.text_field :adress %></td>
</tr>

<tr>
  <th><%= form.label :お問い合わせ内容 %></th>
  <td><%= form.text_field :form %></td>
</tr>





</table>