<div class="c">
  <div class="fs">
    <%= line_item.quantity %>
  </div>
    <div class="ga">
        <%= image_tag(line_item.product.image_url(:thumb),class: "product_img")%>
    </div>
    <div class="chjks">
      <%= line_item.product.title %>
    </div>

     <div class="hdsui">
      <%= truncate(line_item.product.description, length: 140 ) %>
    </div>
    
    <div class="hdsuicds">
      <p><%= (line_item.total_price) %>円</p>
    </div>
</div>

<div class="has">
  <%= link_to 'Remove Item', line_item, method: :delete, data: { confirm: "Are you sure?"}, class: "button is-small mb4" %>
</div>

