<!DOCTYPE html>
<html>
  <head>
    <title>Shop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <%= stylesheet_link_tag  'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
  </head>

  <body>

  <!-------------------------------追加--------------------------------------------------->

   　<p class="notice"><%= notice %></p>
  　 <p class="alert"><%= alert %></p>
  
  <!-------------------------------------------------------------------------------------->
  <%= image_tag "rogo.png" ,class: "rogo"%>
  <%= link_to "Sign In", new_user_session_path %>
  <%= link_to "Sign Up", new_user_registration_path %>
  <%= link_to "sign Out", destroy_user_session_path, method: :delete %>
  
  <% if cart_has_items %>
      <%= link_to cart_path(@cart) do %>
      <span>
      <i class="fa"></i>
      </span>
      <span >
      Cart <%= cart_count_over_one%>
      </span>
      <% end %>
    <% end%>
    

    <% if user_signed_in? %>
        <a class="navbar-brand1">ユーザ名:<%= current_user.name %></a>
<% else %>
        <a class="navbar-brand1">ユーザ名:User</a>
<% end %>

<%= yield( :header ) %>
     <%= yield %>
     <%= render "shared/footer" %>
  </body>
</html>
